@page
@model Rugking.Views.Home.AboutModel
@{

    <div class="text-center">
        <h1 class="display-4">About us</h1>
        <p>come and learn About Us</p>

    </div>
}
<p> <strong>Company Name: RugWonders Inc.</strong></p>
<h3>Headquarters:</h3>
<li>123 Main street</li>
<li>Phone:(555)124-124</li>
<li>email:info#rugwounder.com</li>

<h3>About RugWonders Inc:</h3>
<p>
    RugWonders Inc. is a dynamic leader in the home decor industry, specializing
    in high-quality rugs and carpets. Established in 2005, we've built a reputation
    for craftsmanship and customer satisfaction.
</p>

<h3>Our team</h3>
<li>Abdul BenHassan, CEO</li>
<li> Abbas BenHassan,Creative Director</li>
<li>Obeida BenHassan,Customer Service</li>

<h3>Produect</h3>
<li>Area Rugs: Crafted in various sizes, patterns, and materials.</li>
<li> Runners: Perfect for hallways and corridors.</li>
<li>Outdoor Rugs: Durable and weather-resistant.</li>
<li>Custom Designs: Tailored to your preferences.</li>
<li>Materials: Choose from wool, silk, synthetic, and natural fibers.</li>

